# Dependencies
node_modules

# Build outputs
dist
build
.next
.nuxt
out

# Turbo
.turbo

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Angular cache
apps/office-lunch/.angular/cache
